
canvas {
  pointer-events:none;
  position: fixed;
  z-index:-1
}

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
}
button {
  /*background-color: lightblue;*/
  color: black;
  font-size: 25px;
}
